*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

}
body {
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;

}
.image-device,section,.track,.div-super{
    text-align: center;
}
a{
    text-decoration: none;
    color: hsl(210, 10%, 33%);
    display: inline-block;
    padding-right: 1rem;
}
p{

    font-weight: 400;
    color: hsl(201, 11%, 66%);
    @media screen and (max-width:600px) and (min-width:375px){
        font-size: 1rem;
    }
}
h1{
    font-weight: 600;
    color: hsl(210, 10%, 33%);
    @media screen and (max-width:600px) and (min-width:375px){
           
                font-size: 2rem;
          
        }
 }
 h2{
    font-weight: 600;
    color: hsl(210, 10%, 33%);
    padding-bottom: 1rem;
    @media screen and (max-width:600px) and (min-width:375px){
           
        font-size: 1.8rem;
  
}
    
 }

 h4{
    font-weight: 600;
    color: hsl(210, 10%, 33%);
 }
